*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #000;
	min-width: 320px;
}
.slide_item {
	width: 100%;
}
.owl-carousel .animated  {
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.logo {
	color: #fff;
	display: block;
	color: #FF3E26;
	font-size: 34px;
	text-align: center;
	font-family: "Engine", sans-serif;
	padding: 0px 0 30px 0;
	margin: -17px 0 46px 0;
}
.logo-forms {
	font-size: 50px;
	color: #D1D3CF;
}
.middle_content {
	margin-top: 30px;
}
.circles {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.menu_image {
	text-align: center;
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 25%;
}
.menu_image:hover {
	border: 4px solid #fff;
}
.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	font-size: 28px;
	color: #fff;
	font-family: 'Engine';
}
.fade1 {
	margin: -38% 0 0 -26%;
	color: #D8D8D8;
}
.fade2 {
	margin: 7% 0 0 -25%;
}
.fade-m1{
	margin: -1% 0 0 -28%;
	color: #000;
}
.fade-r1 {
	margin: -16% 0 0 -31%;
	color: #D8D8D8;
}
.fade-r2 {
	margin: -6% 0 0 -33%;
}

.menu_image_1 {
	background: url(../img/content-l.png) no-repeat;	
	background-size: contain;
	height: 285px;
	border: 3px solid #a5a5a5;
	border-radius: 10em;
	background-position: center;
	margin: 0 auto;
}
.menu_image_2 {
	background: url(../img/content-m.png) no-repeat;
	background-size: contain;
	height: 285px;
	border: 3px solid rgba(224, 104, 38, 0.8);
	border-radius: 9em;
	background-position: center;
	margin: 0px 55px 75px 55px;
}
.menu_image_3 {
	background: url(../img/content-r.png) no-repeat;
	background-size: contain;
	height: 285px;
	border: 3px solid #fff;
	border-radius: 10em;
	background-position: center;
	margin: 0 auto;
}
footer {
	margin: 30px 0;
}
.footer_img {
	background: url(../img/footer.png) no-repeat;
	background-size: contain;
	height: 250px;
}
.facebook a{
	color: #75acce;
	cursor: pointer;
	margin: 0 auto;
}
.facebook a:hover{
	color: #fff;
}
.facebook a:active{
	color: #4c83a5;
	border: none;
}
.instagram a{
	color: #e5993b;
	cursor: pointer;
}
.instagram a:hover{
	color: #fff;
}
.instagram a:active{
	color: #bc7012;
}
.mail {
	color: #a02020;
	cursor: pointer;
}
.mail:hover {
	color: #fff;
}
.icons {
	width: 154px;	
	font-size: 46px;
	margin: 0 auto;
}
.contact {
	font-family: 'Engine';
	width: 173px;
	margin: 0 auto;
	color: #a89f9f;
}
.name {
	font-size: 30px;
	color: #D1D3CF;
}
.left_cv {
	background-color: #A61C00;
	display: block;
}
.left_cv img{
	position: relative;	
	width: 150px;
	margin: 20px 0 0 26px;
	text-align: right;
}
.name_cv {
	font-size: 46px;
	color: #D1D3CF;
	font-family: 'Engine';
	display: block;
}
.cv {
	font-size: 60px; 
	margin: 30px 0px 0 50px;
	font-weight: bold;
	color: #000;
}
.name_cv_ua {
	font-family: 'BoomBoom';
}
.name_cv_ua_cv {
	font-weight: normal;
	font-size: 30px;
}
.block_name {
	font-weight: bold;
	color: #000;
}
.contact_cv p{
	text-align: right;
	color: #fff;
}
.contact_cv a {
	color: #000;
}
.contact_cv a:hover {
	color: #fff;
}
.flags img {
	height: 30px;
	float: right;
	cursor: pointer;
	margin: 3px 5px;
}
.pop_form input,
.pop_form textarea,
.pop_form button {
	border: #999 3px solid;
	border-radius: 5px;
}
.pop_form input[type=text]{
	display: block;
	width: 95%;
	line-height: 24px;
	margin: auto;
}
.pop_form textarea[type=text]{
	display: block;
	width: 95%;
	line-height: 24px;
	margin: auto;
}
.pop_form button {
	margin: 25px 19px;	
	font-size: 20px;
	border: 1px solid;
	width: 200px;
	font-size: 30px;
}
.pop_form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-size: 30px;
}
.hidden {
	display: none;
}
.send_button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#load {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(images/ajax-loader.gif);
	width: 43px;
	height: 11px;
	text-indent: -9999em;
}
.slide {	
	width: 70px;
}
.navBtn {
	cursor: pointer;
	font-size: 50px;
	position: absolute;
	z-index: 10;
	opacity: 0.4;
	color: #fff;
	top: 20%;
}
.customNextBtn,
.customNextBtn-2 {
	right: 20px;
}
.customPrevBtn,
.customPrevBtn-2 {
	left: 20px;
}
.photos img {
	width: 70px;
	border: none;
}
.photos .slide{
	display: inline-block;
	margin: 16px;
}