*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.uslugi {
	font-family: 'Merriweather',Georgia, serif;
	font-weight: 700;
	z-index: 10;
}
.uslugi_descr {
	background: #fff;
	padding-top: 60px;
	text-transform: uppercase;
}
.rycina img {
	position: absolute;
	right: 0px;
	bottom: 0;
	opacity: .1;
	height: 480px;

}
.section_header {
	margin-bottom: 100px;
	letter-spacing: 10px;
}
.section_header h2 {
	font-family: 'Merriweather',Georgia, serif;
	font-weight: 700;
	text-align: center;
	font-size: 36px;
	margin-bottom: 17px;
	margin-top: 95px;
	text-transform: uppercase;
}
.section_header .header_line1,
.section_header .header_line2 {
	margin: 0 auto
}
.section_header .header_line1 {
	height: 5px;
	width: 80px;
	background-color: #A27F6A;
}
.section_header .header_line2 {
	height: 3px;
	width: 40px;
	background-color: #000;
}
.section_header span {
	color: #A27F6A;
}
.uslugi_item {
	border-right: 1px solid #DBDBDB;
	padding: 0;
	padding-bottom: 50px;
}
.uslugi_number {
	font-family: 'Merriweather',Georgia, serif;
	font-size: 50px;
	text-align: center;
	color: #D0BFB4;
	letter-spacing: 4px;
}
.uslugi_number_gray {
	color: #BFBFBF;
}
.uslugi_name {
	font-family: "LatoWebBold";
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
}
.uslugi_item_inside {
	height: 170px;
	margin: 0 auto;
}
.realization {
	top: -60px;
	background: #fff;
	
	background: url(img/bgc2.png);
}
.bg_opasity {
	background-color: rgba(255, 255, 255, .6);
}
.main_image {
	text-align: center;
	margin-bottom: 28px;
}
.main_image img {
	width: 100%;
}
.sub_image1 {
	text-align: left;
	
}
.sub_image2  {
	text-align: right;
}
.realization h3 {
	font-family: 'Merriweather',Georgia, serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 0;
}
.realization_sub_header {
	color: #000;
	border-bottom: 3px solid #A27F6A;
}
.realization_sub_header2 {
	color: #A27F6A;
}
.realization .choise {
	padding-left: 105px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.vector {
	position: relative;
}
.vector img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 10em;
}
.choise p {
	font-family: "LatoWebBold",arial, sans-serif;
	font-size: 21px;
	margin-bottom: 29px;
	margin-top: 0;
	line-height: 29px;
}
.choise a {
	font-family: "LatoWeb",arial, sans-serif;
	font-size: 15px;
	padding: 23px 70px;
	background-color: #A27F6A;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	outline: none;
	border-radius: 3px;
}
.choise a:hover {
	box-shadow: inset 0px 0px 1px 0px black;
	background-color: #9A7762;
}
.choise a:focus {
	background-color: #AA8772;
	box-shadow: none;
}

.oferta {
	margin-top: 37px;
}
.contact {
	margin-top: 120px;
}
.contact a {
	color: #000;
	text-decoration: none;
}
.contact a:hover {
	color: #A27F6A;
}
.contact p {
	font-family: "LatoWebLight", Arial, sans-serif;
	font-size: 21px;
	margin: 0;
	margin-bottom: 19px;
}
.contact .black {
	font-family: "LatoWebBold", Arial, sans-serif;
}
.contact .reg {
	font-family: "LatoWeb", Arial, sans-serif;
	margin-bottom: 50px;
	font-size: 24px;
	line-height: 30px;
}
.contact .contact_p {
	font-size: 22px;
}
.contact .sity {
	line-height: 25px;
}
.contact .bootstrap_no_padding {
	padding-right: 80px;
}
.contact_img {
	margin-bottom: 116px;
}
.footer_top h4 {
	text-align: center;
	font-family: "LatoWebLight", Arial, sans-serif;
	color: #fff;
}
.footer_top .black {
	font-family: "LatoWeb", Arial, sans-serif;
}
.footer_top,
.footer_mid {
	background-color: #A27F6A;
}
.footer_top {
	border-bottom: 1px solid #fff;
}
.footer_mid {
	height: 105px;
	position: relative;
}
.footer_nav {
	margin-top: 19px;
}
.footer_menu {
	text-align: center;
	font-size: 14px;
}
.footer_menu ul {
	padding: 0;
	margin: 0;
}
.footer_menu ul li {
	display: inline-block;
	position: relative;
	width: 150px;
	text-align: left;
}
.footer_menu ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "LatoWeb", Arial, sans-serif;
	letter-spacing: 4px;
}
.footer_menu ul li a:hover {
	color: #000;
}
.footer_menu ul li ul {
	display: none;
	position: absolute;
}
.footer_menu_3 ul li ul li {
	display: block;
}
.footer_menu_3 ul li ul li a {
	display: inline-block;
	color: #000;
}
.footer_menu_3 ul li ul li:hover a {
	color: #666;
}
.footer_mid p {
	font-family: "LatoWebLight", Arial, sans-serif;
	color: #fff;
}
.footer_mid .white {
	font-family: "LatoWebBold", Arial, sans-serif;
}
.footer_mid .street {
	text-align: right;
}
.street .wrap {
	display: inline-block;
	text-align: left;
}
.street p {
	margin-top: 35px;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 17px;
}
.footer_mid .tel {
	margin-top: 35px;
	margin-bottom: 0;
}
.footer_mid .tel p {	
	margin: 0;
	font-size: 15px;
	line-height: 17px;
}
.footer_mid .tel p a {
	font-family: "LatoWebBold", Arial, sans-serif;
	color: #fff;
	text-decoration: none;
}
.footer_mid .tel p a:hover {
	color: #000;
}
.footer_bottom {
	background: url(img/bgc_bottom.png);
	text-align: center;
}
.bg_opacity {
	background-color: rgba(235,228,224, .5);
}
.bg_opacity2 {
	background-color: rgba(255,255,255, .1);
}
.footer_bottom img {
	margin-top: 52px;
	margin-bottom: 29px;
}
.copy {
	margin-bottom: 27px;
}
.copy p {
	font-family: "LatoWeb", Arial, sans-serif;
	font-size: 11px;
	line-height: 8px;
	color: #000;
	letter-spacing: 0px;
}
.zobacz {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 55px;
}
.zobacz a {
	font-family: "LatoWebLight", Arial, sans-serif;
	font-size: 20px;
	background-color: #A27F6A;
	padding: 27px 70px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	border-radius: 3px;
	outline: none;
	box-shadow: 0px 0px 1px 0px black;
}
.zobacz a:hover {
	box-shadow: inset 0px 0px 1px 0px black;
	background-color: #AA8772;
}
.zobacz a:focus {
	background-color: #9A7762;
	box-shadow: none;
}
.image_hover .center{
	margin-top: 28%;
}
.image_hover_min .center,
.image_hover_right .center {
	margin-top: 19%;
	color: #fff;
}
.realization .image_hover img,
.realization .image_hover_min img,
.realization .image_hover_right img {
	width: 36px;
}
.image_hover,
.image_hover_min,
.image_hover_right {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(162,127,106, 0.9);
	text-align: center;
	padding-top: 0%;
	
	opacity: 0;
	transition: all .5s;
}
.image_hover:hover,
.image_hover_min:hover,
.image_hover_right:hover {
	opacity: 1;
}
.image_hover p,
.image_hover_min p,
.image_hover_right p {
	margin: 0;
}
.image_hover_min,
.image_hover_right {
	width: 93%;
}
.image_hover_right {
	left: 22px;
}
.image_hover p {
	font-family: "LatoWeb", Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.center a {
	outline: none;
	text-decoration: none;
	color: #fff;
}
.img_popup .mfp-bg {
	opacity: 0;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
.img_popup .mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	transition: all .75s ease;
}
.img_popup .mfp-bg.mfp-ready {
	opacity: 0.9;
}
.img_popup .mfp-bg.mfp-removing {
	opacity: 0;
}
.img_popup .mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.img_popup .mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
.navBtn {
	position: absolute;
	top: 22%;
	font-size: 130px;
	color: #fff;
	z-index: 10;
	font-family: "LatoWebLight", Arial, sans-serif;
	cursor: pointer;
}
.customNextBtn {
	right: 20px;
}
.customPrevBtn {
	left: 20px;
}