@font-face {
    font-family: '20 db';
    src: url('20db-400-normal.woff2') format('woff2'), url('20db-400-normal.woff') format('woff'), url('20db-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}