@font-face {
    font-family: 'BoomBoom';
    src: url('boomboom-400-normal.woff2') format('woff2'), url('boomboom-400-normal.woff') format('woff'), url('boomboom-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}